/* DetailView.css */

/* Styling for the overlay container */
.overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Adjust the opacity to control the darkness of the overlay */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Styling for the content container */
  .detail-container {
    max-width: 500px; /* Set the maximum width of the content */
    padding: 20px;
    background-color: #fff; /* Set the background color for the content */
    border-radius: 10px; /* Optional: Add rounded corners to the content */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional: Add a box shadow to the content */
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 5px;
  }
  /* DetailView.css */

/* Styling for the full-page overlay */
.overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Adjust the opacity to control the darkness of the overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Make sure the overlay is on top of other elements */
  }
  
  /* Styling for the content container */
  .detail-container {
    max-width: 500px; /* Set the maximum width of the content */
    padding: 20px;
    background-color: #fff; /* Set the background color for the content */
    border-radius: 10px; /* Optional: Add rounded corners to the content */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional: Add a box shadow to the content */
    z-index: 10000; /* Make sure the content is on top of the overlay */
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 5px;
  }
  